$primary-color: #1DA1F2;
$black: #000000;
$gray: #8899A6;
$white: #FFFFFF;

body {
    font-family: 'Source Sans Pro';

}



.tweet {
    background-color: $black;
    min-width: 300px;  
    max-width: 600px;

    &:not(:last-child) {
        border-bottom: 2px solid $gray;
    }




    &__main-container {
        padding: 10px 15px;
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 10px;
    }
    &__full-name  {
        color: $white;
        margin: 0;
        font-size: 1rem;
        margin-right: 5px;
    }

    &__username {
        color: $gray;
        margin-left: 2px;
        font-size: 12px;
        margin-top: 2px;
    }

    &__user-container {
        display: flex;

    }
     
    &__message {
        grid-column: 2/2;
        color: white;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 12px;
        grid-row-start: 2;
        white-space: pre-line;
    }

    &__body {
        color: $white
    }

   


    &__count-container {
      display: flex;
      justify-content: space-evenly;
    
    }

    &__reply-count, &__favorite-count, &__retweet-count  {
      color: $gray;
      font-weight: 400;
      font-size: 14px;
      cursor: pointer;
      display: flex;

      align-items: center;

      svg {
        margin-right: 3px;

      }
    }

    &__retweet-message {
        color: $gray;
        font-size: 14px;
        font-weight: 600;
        grid-column: 2 / 2;
    }

    &__retweet-message-icon {
        color: $gray;
        width: 22px !important;
        margin-left: 30px;
        margin-top: -5px;
        margin-bottom: 5px;
    }

}

.tweet-text-area {
    min-width: 300px;  
    max-width: 600px;
    background-color: $black;

    &__main-container {
        padding: 18px 10px 10px 15px;
        display: grid;
        grid-template-columns: 40px 1fr;
        column-gap: 12px;
    }

    

    &__form-container {
        position: relative;
        display: flex;
        flex-direction: column;
       
    }

    
    &__text-box {
        background-color: $black;
        border: none;
        outline: none;
        font-size: 19px;
        line-height: 23px;
        color: $gray;
        &:focus + label {
            opacity: 0;
            top: -10px;
            display: none;
        }
     
        &:valid + label {
            opacity: 0;
            top: -10px;
            display: none;
        
        }

        &__label {
            font-size: 19px; 
            line-height: 19px;
            color: $gray;
            margin-left: 2px;
            position: absolute;
            margin-top:4px;
        }

       
    }
}

.primary-button {
    font-weight: 700;
    color: $white;
    padding: 10px 31px;
    background-color: $primary-color;
    text-decoration: none;
    text-align: center; 
    border-radius: 52px;
    line-height: 19px;
    align-self: flex-end;
    display: inline-block;
}

.user-image {
    
        color: $white;
        background-color: gray;
        grid-column: 1/1;
        height: 50px;
        margin: 0;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    

        &--small {
            width: 30px;
            font-size: 10px;
            height: 30px;
        }

        &--medium {
            width: 40px;
            height: 40px;
            font-size: 12px;
        }

        &--large {
            width: 50px;
            height: 50px;
        }
}