$primary-color: #1DA1F2;
$black: #000000;
$gray: #8899A6;
$black-gray: #2F3336;

$white: #FFFFFF;

body {
    font-family: 'Source Sans Pro';
    
}



.tweet-preview {
    background-color: $black;
    display:flex;
    padding: 14px;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 15px;
     border: 0.4px solid $black-gray;
     border-radius: 20px;

    &__user-container {
       display: flex;

    }
    &__username {
        color: $gray;
        margin-left: 2px;
        font-size: 10px;
        
        margin-top: 2px;
    }

    &__full-name  {
        color: $white;
        margin: 0;
        font-size: .8rem;
        font-weight: 700;
        margin-right: 5px;
    }

    &__message {
        color: white;
        font-size: 1rem;
        margin-top: 5px;
        white-space: pre-line;
    }
}

.tweet {
    background-color: $black;
    min-width: 300px;  
    max-width: 600px;

    &:not(:last-child) {
        border-bottom: 2px solid $gray;
    }




    &__main-container {
        padding: 10px 15px;
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 10px;
    }
    &__full-name  {
        color: $white;
        margin: 0;
        font-size: 1rem;
        margin-right: 5px;
    }

    &__username {
        color: $gray;
        margin-left: 2px;
        font-size: 12px;
        margin-top: 2px;
    }

    &__user-container {
        display: flex;

    }
     
    &__message {
        grid-column: 2/2;
        color: white;
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 12px;
        grid-row-start: 2;
        white-space: pre-line;
        font-weight: 400;
    }

    &__body {
        color: $white
    }

   


    &__count-container {
      display: flex;
      justify-content: space-evenly;
    
    }

    &__reply-count, &__favorite-count, &__retweet-count  {
      color: $gray;
      font-weight: 400;
      font-size: 14px;
      cursor: pointer;
      display: flex;

      align-items: center;

      svg {
        margin-right: 3px;

      }
    }

    &__retweet-message {
        color: $gray;
        font-size: 14px;
        font-weight: 600;
        grid-column: 2 / 2;
    }

    &__retweet-message-icon {
        color: $gray;
        width: 22px !important;
        margin-left: 30px;
        margin-top: -5px;
        margin-bottom: 5px;
    }

}

.new-tweet-form {
    min-width: 300px;  
    max-width: 600px;
    background-color: $black;

    &__main-container {
        padding: 18px 10px 10px 15px;
        display: grid;
        grid-template-columns: 40px 1fr;
        column-gap: 12px;
    }

    

    &__form-container {
        position: relative;
        display: flex;
        flex-direction: column;
       
    }

    
  
}


.button {
    font-weight: 700;
    padding: 10px 31px;
    text-decoration: none;
    text-align: center;     
    line-height: 19px;
    display: inline-block;
    border-radius: 52px;

    &--primary {
    color: $white;
    background-color: $primary-color;
    }



}


.user-image {
    
        color: $white;
        background-color: gray;
        grid-column: 1/1;
        height: 50px;
        margin: 0;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    

        &--small {
            width: 15px;
            font-size: 10px;
            height: 15px;
        }

        &--medium {
            width: 40px;
            height: 40px;
            font-size: 12px;
        }

        &--large {
            width: 50px;
            height: 50px;
        }
}

.modal {
    position: absolute;
    top: 40px;
    left: 40px;
    width: min-content;
    height: min-content;
    right: 40px;
    bottom: 40px;
    display: inline-block;
    border-radius: 20px;
    padding: 5px;
    background-color: $black;
}

.text-box {
    background-color: $black;
    border: none;
    outline: none;
    font-size: 19px;
    line-height: 23px;
    color: $white;
    font-weight: 600;

    &__container {
        position: relative;
    }
    &:focus + label {
        opacity: 0;
        top: -10px;
        display: none;
    }
 
    &:valid + label {
        opacity: 0;
        top: -10px;
        display: none;
    
    }

    &__label {
        font-size: 19px; 
        line-height: 19px;
        color: $gray;
        margin-left: 2px;
        position: absolute;
        margin-top:4px;
        left: 0px;
    }
}

.dropdown {
    background-color: $black;
    &__menu {
        border: 0px !important;
        cursor: pointer;
        background-color: $black !important;
        font-size: 1rem;

        &__icon {
            color: $gray;
            margin-right: 0.5rem;
            width: 18px;
        }
        
    }
    &__menu-item {
        background-color: $black;
        color: $white;
        display: flex;
        align-items: center;
        padding: .8rem 1.5rem .8rem .7rem !important;
        &:hover {
            background-color: lighten($black, 5);
        }
    }

    
}