$primary-color: #1DA1F2;
$black: #000000;
$gray: #8899A6;
$white: #FFFFFF;

body {
    font-family: 'Source Sans Pro';

}



.tweet {
    background-color: $black;
    min-width: 300px;  
    max-width: 600px;

    &:not(:last-child) {
        border-bottom: 2px solid $gray;
    }




    &__main-container {
        padding: 10px 15px;
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 10px;
    }
    &__full-name  {
        color: $white;
        margin: 0;
        font-size: 1rem;
        margin-right: 5px;
    }

    &__username {
        color: $gray;
        margin-left: 2px;
        font-size: 12px;
        margin-top: 2px;
    }

    &__user-container {
        display: flex;

    }
     
    &__message {
        grid-column: 2/2;
        color: white;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 12px;
        grid-row-start: 2;
        white-space: pre-line;
    }

    &__body {
        color: $white
    }

    figure {
        color: $white;
        background-color: gray;
        width: 50px;
        grid-column: 1/1;
        height: 50px;
        margin: 0;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }


    &__count-container {
      display: flex;
      justify-content: space-evenly;
    
    }

    &__reply-count, &__favorite-count, &__retweet-count  {
      color: $gray;
      font-weight: 400;
      font-size: 14px;
      cursor: pointer;
      display: flex;

      align-items: center;

      svg {
        margin-right: 3px;

      }
    }

}

.tweet-text-area {
    min-width: 300px;  
    max-width: 600px;
    background-color: $black;

    &__main-container {
        padding: 10px 15px;
        display: grid;
        grid-template-columns: 40px 1fr;
        column-gap: 12px;
    }

    figure {
        color: $white;
        background-color: gray;
        width: 40px;
        grid-column: 1/1;
        height: 40px;
        margin: 0;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &___form-container {
        position: relative;
        textarea {
            background-color: $black;
        }
    }
}

.primary-button {
    font-weight: 700;
    color: $white;
    padding: 15px 32px;
    background-color: $primary-color;
    text-decoration: none;
    text-align: center;
    line-height: 19px;
    display: inline-block;
}